<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Painel de Administração - LaVeraBags</title>
  <link rel="stylesheet" href="{{url_for('static', path='Pasta_css/style_admin_remove2.css') }}" />
</head>

<body>
  <header id="header-premium">
    <div class="header-container">
      <div class="header-left"></div>

      <div class="header-center">
        <a href="/admin" class="logo">BolsasBR</a>
      </div>

      <div class="header-right">
        <div class="perfil-menu-container">
          <img id="foto-perfil" src="/static/uploads/img_header/user.svg" alt="Usuário" onclick="toggleMenu()" />

          <div id="menu-perfil" class="popup-menu">
            <a href="/admin/dados">Meus Dados</a>
            <a href="/logout">Sair</a>
          </div>
        </div>
        <script src="{{url_for('static', path='js/animação_user.js') }}"></script>
      </div>
    </div>
  </header>

  <section class="hero">
    <div class="fundo_preto">
      <div class="caixa_fundo_preto">
        <h2 class="titulo">Administração</h2>
        <p class="subtitulo">
          Gerencie Produtos, dados do site, movimentação, totalização de clientes, metas atingidas, manipulação de produtos
        </p>
      </div>
    </div>
  </section>

  <div class="produtos">
    <div class="categoria">
      <h3>Produtos Cadastrados</h3>
      <table border="1">
        <tr>
          <th>Nome</th>
          <th>Preço</th>
          <th>QTD</th>
          <th>Imagem</th>
          <th>Ação</th>
        </tr>
        {% for i in produtos %}
        <tr>
          <td>{{i.nome}}</td>
          <td>{{i.preco}}</td>
          <td>{{i.quantidade}}</td>
          <td>
            <img src="{{i.imagem}}" width="50" />
          </td>
          <td>
            <form action="/admin/editar/{{i.id}}" method="get">
              <button type="submit" style="background-color: green;">Editar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
      <p><a href="/admin">Voltar</a></p>
    </div>
  </div>
</body>
</html>