<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Painel de Administração - LaVeraBags</title>
  <link rel="stylesheet" href="{{url_for('static', path='Pasta_css/style_admin_add2.css') }}" />
</head>

<body>
  <header id="header-premium">
    <div class="header-container">
      <div class="header-left"></div>

      <div class="header-center">
        <a href="/admin" class="logo">BolsasBR</a>
      </div>

      <div class="header-right">
        <div class="perfil-menu-container">
          <img id="foto-perfil" src="/static/uploads/img_header/user.svg" alt="Usuário" onclick="toggleMenu()" />

          <div id="menu-perfil" class="popup-menu">
            <a href="/admin/dados">Meus Dados</a>
            <a href="/logout">Sair</a>
          </div>
        </div>
        <script src="{{url_for('static', path='js/animação_user.js') }}"></script>
      </div>
    </div>
  </header>

  <!-- Produtos -->
  <section class="hero">
    <div class="fundo_preto">
      <div class="caixa_fundo_preto">
        <h2 class="titulo">Administração</h2>
        <p class="subtitulo">
          Gerencie Produtos, dados do site, movimentação, totalização de clientes, metas atingidas, manipulação de produtos
        </p>
      </div>
    </div>
  </section>

  <div class="produtos">
    <div class="categoria">
      <form action="/admin/editar/{{produto_existente.id}}" method="post" enctype="multipart/form-data">
        <label>Nome*:</label><br />
        <input type="text" name="nome" value="{{ produto_existente.nome }}"  /><br />
        <label>Preço*:</label><br />
        <input type="number" step="0.01" name="preco" value="{{ produto_existente.preco }}" /><br />
        <label>Quantidade*:</label><br />
        <input type="number" step="1" name="quantidade" value="{{ produto_existente.quantidade }}" /><br />
        <label>Categoria:</label><br />
        <input type="text" name="categoria" value="{{ produto_existente.categoria }}" /><br />
        <label>Cor:</label><br />
        <input type="text" name="cor" value="{{ produto_existente.cor }}" /><br />

        <label>Imagem Principal*:</label><br />
        <input type="file" name="imagem"  /><br /><br />
        <label>Imagem Adicional 1:</label><br />
        <input type="file" name="detalhe1"  /><br /><br />
        <label>Imagem Adicional 2:</label><br />
        <input type="file" name="detalhe2"  /><br /><br />
        <label>Imagem Adicional 3:</label><br />
        <input type="file" name="detalhe3"  /><br /><br />
        <label>Imagem Adicional 4:</label><br />
        <input type="file" name="detalhe4"  /><br /><br />
        <button type="submit" style="background-color: green;">Editar Produto</button>
      </form>
    </div>
  </div>
</body>

</html>