<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>
</head>
<body>
    <h1>Meus Dados</h1>
    <div class="info">
        <p><strong>ID:</strong> {{ user.id }}</p>
        <p><strong>Nome:</strong> {{ user.nome }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        {% if admin %}
            <p><strong>administrador:</strong>{{ user.is_admin }}</p>
        {% endif %}
    </div>
    <a href="/me/produtos">Voltar</a>
</body>
</html>