* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #222;
}

#container_main {
    margin: 0 auto;
    /*deixar os elementos no meio*/
    box-sizing: border-box; 
}
 /* Header */
#container_header {
    position: relative;   /* referência para os filhos */
    margin: 0 auto;
    width: 100%;
    height: 50px;         /* altura fixa do header */
    padding: 15px;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

/* links em linha */
.inline {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/* bloco da esquerda */
.left-header {
    position: absolute;
    top: 15px;
    left: 80px;  /* você pode mudar esse valor */
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-header h2 {
    font-size: 25px;
    line-height: 1.6;
    color: white;
}

.left-header a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

/* pesquisa */
#pesquisar {
    background-color: transparent;
    border: none;
    color: white;
}

/* bloco da direita */
.right-header {
    position: absolute;
    top: 25px;
    right: 80px;  /* você pode mudar esse valor */
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-header form input {
    border: none;
}

.right-header a {
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.icones {
    width: 25px;
}

/* estilização do icone user -----------------*/
#foto-perfil {
  margin-left: 15px;
  width: 40px;
  border-radius: 50%;       
  object-fit: cover;        
  transition: box-shadow 0.5s ease;
}

#foto-perfil:hover {
  box-shadow: 0 0 0 5px #ffffff;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.perfil-menu-container {
    position: relative;
    display: inline-block;
}

/* Menu pop-up */
.popup-menu {
    display: none; /* escondido por padrão */
    position: absolute;
    right: 0; /* alinha à direita da foto de perfil */
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 10;
}

/* Links do menu */
.popup-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Hover nos links */
.popup-menu a:hover {
    background-color: #f1f1f1;
}
/* -------------------- */

.produto-container {
  position: relative;
  top: 150px;
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.info_envio{
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.carrinho-icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ff4747;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  min-width: 10px;
  text-align: center;
}

/*  */

.checkout {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}


.form-section {
  flex: 2;
}

.form-section h1 {
  margin-bottom: 10px;
}

.steps {
  margin-bottom: 20px;
  color: #555;
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 10px;
}

form input, form select {
  padding: 10px;
  border: 1px solid #ccc;
  flex: 1;
}

.botao-continuar { 
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.botao-continuar:hover {
  background-color: #333;
}

.cart-section {
  flex: 1;
  background: #f5f5f5;
  padding: 40px;
  border-radius: 5px;
}

.cart-section input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
}

.summary {
  font-size: 14px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.summary hr {
  margin: 10px 0;
}

.remover_pedido{
  margin-bottom: 10px;
  padding: 2px;
  font-weight: bold;
}